{% extends 'layout.html' %}

{% block head %}

<title>Jarnemyr.com - Contact</title>
<meta name="description" content="My contact information.">

{% endblock %}

{% block content %}

<!--- Connect -->

<div class="container-fluid padding">

	<div class="row text-center padding">
	
		<div class="col-12">
		
			<h2>Contact me</h2>
		
		</div>
		
		<hr class="my-4">
		
		<div class="col-12">
		
			<p class="lead">Add me on social media or send an email!</p>
		
		</div>
		
		<div class="col-md-4">
		
			<div class="card">
			
				<a href="https://www.linkedin.com/in/pontus-jarnemyr-510752179">
				
					<i class="fab fa-linkedin fa-6x fa-fw"></i>
				
				</a>
				
				<div class="card-body">
					
					<h4 class="card-title">LinkedIn</h4>
				
					<a href="https://www.linkedin.com/in/pontus-jarnemyr-510752179" class="btn btn-outline-secondary">Visit profile</a>
					
				</div>
			
			</div>
		
		</div>
		
		<div class="col-md-4">
		
			<div class="card">
			
				<a href="mailto:pontus@jarnemyr.com">
				
					<i class="fa fa-envelope fa-6x fa-fw"></i>
				
				</a>
				
				<div class="card-body">
					
					<h4 class="card-title">Email</h4>
					
					<!-- <p class="card-text">Placeholder text</p> -->
				
					<a href="mailto:pontus@jarnemyr.com" class="btn btn-outline-secondary">Send an email</a>
					
				</div>
			
			</div>
		
		</div>
		
		<div class="col-md-4">
		
			<div class="card">
			
				<a href="https://www.facebook.com/pontus.jarnemyr">
				
					<i class="fab fa-facebook fa-6x fa-fw"></i>
				
				</a>
				
				<div class="card-body">
					
					<h4 class="card-title">Facebook</h4>
				
					<a href="https://www.facebook.com/pontus.jarnemyr" class="btn btn-outline-secondary">Visit profile</a>
					
				</div>
			
			</div>
		
		</div>
	
	</div>

</div>

{% endblock %}
