<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Pontus Jarnemyr">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="/static/style.css">
	<meta name="google-site-verification" content="nozkks8NudCDif6xkjdSXc1U4zg_m4AgRK9yckQnm-g"> 

	{% block head %}

	{% endblock %}
	
</head>
<body>
	
<!-- Navigation -->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		
	<div class="container-fluid">
				
		<a class="navbar-brand" href="/"><img src="/static/media_folder/logo_header.png"></a>
				
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			
			<span class="navbar-toggler-icon">
			
			</span>
			
		</button>
				
		<div class="collapse navbar-collapse" id="navbarResponsive">
		
			<ul class="navbar-nav ml-auto">
			
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/projects">Projects</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
			
			</ul>
		
		</div>
		
	</div>
	
</nav>

{% block content %}

{% endblock %}

<!-- Footer  --> 

<footer>
	
	<div class="container-fluid padding">

		<div class="row text-center">

			<div class="col-12">
						
				<img src="/static/media_folder/logo_footer.png">
				
				<hr class="light">
				
				<p>073 654 08 05</p>
				
				<a href="mailto:pontus@jarnemyr.com"><p>pontus@jarnemyr.com</p></a>
				
			</div>
			
<!--
			<div class="col-md-4">
			
				<hr class="light">
				
				<h5>You made it!</h5>
				
				<hr class="light">
				
				<p>I can't believe it! You actually scrolled all the way down!</p>
				
				<p>Well... this is the end of the page so... yeah.</p>
				
			</div>
			
			<div class="col-md-4">
				
				<hr class="light">
				
				<h5>Open hours</h5>
				
				<hr class="light">
				
				<p>Mon - Fri: 00:00 - 24:00</p>
				
				<p>Sat: 01:00 - 23:00</p>
				
				<p>Sun: 02:00 - 20:00</p>
			
			</div>
-->
			<div class="col-12">
			
				<hr class="light-100">
				
				<h5>&copy;Pontus Jarnemyr</h5>
			
			</div>
			
		</div>
		
	</div>
	
</footer>

</body>
