{% extends 'layout.html' %}

{% block head %}

<title>Jarnemyr.com - Projects</title>
<meta name="description" content="Some of my programming projects.">
<meta name="author" content="Pontus Jarnemyr">
<meta name="keywords" content="financial, tools, total, asset, manager, portfolio, management, triangular, arbitrage, bot, binance, binance.com, crypto, pontus, jarnemyr, jarnemyr.com, kucoin, crypto, lending, cryptolending, p2p">

{% endblock %}

{% block content %}

<!--- Welcome Section -->

<div class="container-fluid padding">

	<div class="row welcome text-center">
	
		<div class="col-12">
		
			<h1 class="display-4">My projects</h1>
					
		</div>
		
		<hr>
		
		<div class="col-12">
		
			<p class="lead">Here you can find some of my projects. They often combine programming and finances in some capacity, since these are two areas that I find very fun. Scroll down to take a look!</p>
		
		</div>
		
	</div>

</div>

<hr class="my-4">

<div class="container-fluid padding">

	<div class="row padding">
	
		<div class="col-md-12 col-lg-6"> 
			
			<h2>Triangular arbitrage bot</h2>
			
			<p>This is a bot that continuosly streams prices for a number of different cryptocurrencies on <a href="binance.com">Binance.com</a>. It uses these real-time price updates to find potential triangular arbitrage opportunities. </p>
		
			<a href="/projects/arbitrage" class="btn btn-primary">Learn more</a>
			
		</div>
		
		<div class="col-md-12 col-lg-6">
		
			<img src="/static/tutorial_stuff/img/desk.png" class="img-fluid">
		
		</div>
		
	</div>

</div>

<hr class="my-4">

<div class="container-fluid padding">

	<div class="row padding">
	
		<div class="col-md-12 col-lg-6"> 
			
			<h2>Crypto lending profit tracker</h2>
			
			<p>Tracks my daily profits from peer-to-peer lending on <a href="kucoin.com">Kucoin.com</a>.</p>
		
			<a href="/projects/lending-tracker" class="btn btn-primary">Learn more</a>
			
		</div>
		
		<div class="col-md-12 col-lg-6">
		
			<img src="/static/tutorial_stuff/img/desk.png" class="img-fluid">
		
		</div>
		
	</div>

</div>

<hr class="my-4">

<div class="container-fluid padding">

	<div class="row padding">
	
		<div class="col-md-12 col-lg-6 portfolio-tracker"> 
			
			<h2>Total portfolio tracker</h2>
			
			<p>A tool that allows you to combine your assets into one portfolio in order to see your total return on investments. It can be useful if you, for example,</p>
						
				<li>Own stocks on several different websites and want to see your total ROI</li>
				
				<li>Own both stocks and other assets such as physical gold or cryptocurrencies.</li>
			
			<a href="/projects/portfolio-tracker" class="btn btn-primary">Learn more</a>
			
		</div>
		
		<div class="col-md-12 col-lg-6">
		
			<img src="/static/tutorial_stuff/img/desk.png" class="img-fluid">
		
		</div>
		
	</div>

</div>

{% endblock %}
